<!DOCTYPE html>
<html lang="en">
<head>
    <title>Centauri Shop - 404</title>
    <link rel="shortcut icon" href="css/test2.ico" type="image/x-icon">
    <meta http-equiv="refresh" content="2;URL='index'" />    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- [[ Styles ]] -->
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Rubik:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/404.css">
  
    <!-- [[ SEO ]]-->
  
    <meta name="title" content="Centauri Shop - 404">
    <meta name="description" content="Page for 404 error code.">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="10 days">
    <meta name="author" content="Yoda and Patricio TGN.">
</head>
<body>
    <div class="main_container">
        <h1>404</h1>
        <p>Upps! We sorry, The page you are looking was not found, Redirecting.. </p>
    </div>
</body>
</html>