<!DOCTYPE html>
<html>

<head>
  <title>Centauri Shop - Safe & Cheap Robux</title>
  <link rel="shortcut icon" href="Icon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  <!-- [[ Librarys ]] -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- [[ Styles ]] -->

  <link rel="stylesheet" href="css/index2.css">

  <!-- [[ SEO ]]-->

  <meta name="title" content="Centauri Shop - Safe & Cheap Robux for Roblox">
  <meta name="description" content="We are centauri shop, a the place where you can buy cheap, fast and safe robux. We offer the best prices at low cost. What are you waiting for?.">
  <meta name="keywords" content="centauri, robux shop,  roblox, 2022, centauri shop, online, Roblox robux shop, cheap">
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="1 days">
  <meta name="author" content="Yoda and Patricio TGN.">
</head>


<body>
  <header>
    <div class="Hero">
      <div class="Left">
        <h1>A robux shop safe with <h1 id="hero-text-colored">the best prices!</h1>
        </h1>
        <p>Cheap robux with the bast user experence.</p>
        <div class="Hero-options">
          <a href="/login" class="btn">Login <svg width="20" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-1"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
          <a href="/register" class="btn" id="sing-in">Sing Up</a>
        </div>
      </div>
      <div class="Right">
        <img src="css/transparentplanet.png" alt='Logo' tyle="max-width: 500px;" alt="" id="vector">
      </div>
    </div>
    <div class="wave">
      <img src="css/wave.svg" alt="">
      <div class="Features">
        <h1 style="text-align: center;" id="Feactures-title">Features</h1>
        <p> We may provide you with our Features for a better user experience.</p>
        <div class="Feacture" id="Cheap">
          <div class="Icon">
            <i class="fa-solid fa-money-bill-1-wave"></i>
          </div> Cheap Robux
        </div>
        <div class="Feacture" id="Automation">
          <div class="Icon">
            <i class="fa-solid fa-bolt"></i>
          </div> Automation
        </div>
        <div class="Feacture" id="support">
          <div class="Icon">
            <i class="fa-solid fa-headset"></i>
          </div> Technical support
        </div>
      </div>

      <hr size="1" color="#282828" noshade="" style="max-width: 85%; margin-left: auto; margin-right: auto;">
      <div class="Stock">
        <h2> {{stock}} <h2 id="Stock-SubTitle"> Robux </h2>
        </h2>
      </div>

      <hr size="1" color="#282828" noshade="" style="max-width: 80%; margin-left: auto; margin-right: auto;">
      
    </div>
  </header>
</body>

</html>