<!DOCTYPE html>
<html lang="en">
<head>
    <title>Terms and Conditions - Centauri Shop</title>
    <link rel="shortcut icon" href="css/test2.uci" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- [[ Styles ]] -->
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Rubik:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tac.css">
  
    <!-- [[ SEO ]]-->
  
    <meta name="title" content="Terms And Conditions - Centauri Shop">
    <meta name="description" content="Terms and Conditions of our services to resolve any concerns/problems.">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="10 days">
    <meta name="author" content="Yoda and Patricio TGN.">
</head>
<body>
    <div class="main_container">
        <div class="title_container">
            <h2>Centauri Shop</h2>
            <div class="line"></div>
            <h2>Terms and Conditions</h2>
        </div>

        <h4> <b>-</b> Privacity</h4>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit temporibus dolorem velit iure numquam amet quae nemo aut odit vero dolores, quasi distinctio iste recusandae natus explicabo est blanditiis. Molestias culpa quia eum repellat exercitationem quae eveniet dolore quibusdam quisquam, labore esse, quaerat quos hic repellendus laboriosam id consectetur dolorem odio incidunt eos excepturi architecto! Mollitia temporibus iusto odio impedit, molestiae vero at optio repudiandae obcaecati vel reprehenderit labore magnam excepturi laudantium natus assumenda hic. Obcaecati quae libero autem, reiciendis ratione nostrum mollitia corporis! Libero labore excepturi quos repellat doloribus quam ut dicta facere qui, dolore quasi sit aspernatur. Distinctio quo aut provident modi, voluptates odit consequuntur repudiandae quibusdam ducimus adipisci! Voluptatum odio aliquid nisi quidem suscipit earum architecto repellendus enim, impedit perspiciatis a nostrum rem explicabo. Quidem iste minus fuga porro esse voluptates, dolore a nemo magnam illo minima fugiat culpa autem hic repellendus architecto dolorum soluta eius neque temporibus aspernatur nostrum. Dolores, incidunt facilis?</p>

        <h4> <b>-</b> Privacity</h4>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit temporibus dolorem velit iure numquam amet quae nemo aut odit vero dolores, quasi distinctio iste recusandae natus explicabo est blanditiis. Molestias culpa quia eum repellat exercitationem quae eveniet dolore quibusdam quisquam, labore esse, quaerat quos hic repellendus laboriosam id consectetur dolorem odio incidunt eos excepturi architecto! Mollitia temporibus iusto odio impedit, molestiae vero at optio repudiandae obcaecati vel reprehenderit labore magnam excepturi laudantium natus assumenda hic. Obcaecati quae libero autem, reiciendis ratione nostrum mollitia corporis! Libero labore excepturi quos repellat doloribus quam ut dicta facere qui, dolore quasi sit aspernatur. Distinctio quo aut provident modi, voluptates odit consequuntur repudiandae quibusdam ducimus adipisci! Voluptatum odio aliquid nisi quidem suscipit earum architecto repellendus enim, impedit perspiciatis a nostrum rem explicabo. Quidem iste minus fuga porro esse voluptates, dolore a nemo magnam illo minima fugiat culpa autem hic repellendus architecto dolorum soluta eius neque temporibus aspernatur nostrum. Dolores, incidunt facilis?</p>

        <h4> <b>-</b> Privacity</h4>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit temporibus dolorem velit iure numquam amet quae nemo aut odit vero dolores, quasi distinctio iste recusandae natus explicabo est blanditiis. Molestias culpa quia eum repellat exercitationem quae eveniet dolore quibusdam quisquam, labore esse, quaerat quos hic repellendus laboriosam id consectetur dolorem odio incidunt eos excepturi architecto! Mollitia temporibus iusto odio impedit, molestiae vero at optio repudiandae obcaecati vel reprehenderit labore magnam excepturi laudantium natus assumenda hic. Obcaecati quae libero autem, reiciendis ratione nostrum mollitia corporis! Libero labore excepturi quos repellat doloribus quam ut dicta facere qui, dolore quasi sit aspernatur. Distinctio quo aut provident modi, voluptates odit consequuntur repudiandae quibusdam ducimus adipisci! Voluptatum odio aliquid nisi quidem suscipit earum architecto repellendus enim, impedit perspiciatis a nostrum rem explicabo. Quidem iste minus fuga porro esse voluptates, dolore a nemo magnam illo minima fugiat culpa autem hic repellendus architecto dolorum soluta eius neque temporibus aspernatur nostrum. Dolores, incidunt facilis?</p>

    </div>
</body>
</html>